# Virtual environment
.venv/
env/
*.egg-info/

# IDE / Editors
.idea/
.vscode/
Data/
models/
# Ignore warehouse data but keep code
warehouse/*
!warehouse/__init__.py
!warehouse/update_pipeline.py
!warehouse/characters.json

# Data & models (không đưa dữ liệu & weight nặng lên git)
*.h5
*.pt
*.ckpt
*.onnx
*.npz
*.joblib

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# Logs & debug
*.log
logs/
debug/

# System files
.DS_Store
Thumbs.db
